{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Donate</h2>
    <p>If you find our service helpful, feel free to donate via any of the following methods:</p>

    <h4>Revolut</h4>
    <p><strong>Revolut Account:</strong> @myrevolutaccount</p>

    <h4>Bank Transfer (IBAN)</h4>
    <p><strong>IBAN:</strong> DE12345678912345678900</p>

    <h4>PayPal</h4>
    <p>
        <a class="btn btn-primary" href="https://www.paypal.me/myaccount" target="_blank">Donate via PayPal</a>
    </p>
</div>
{% endblock %}
